@model BookStore.ViewModels.Livro.EditorLivroViewModel
@{
    ViewBag.Title = "Livro";
    //Layout = "~/Views/Shared/_LayoutSecundario.cshtml";
}

@*@helper minhaFunction(string Nome)
    {
        <text>Usuário: @Nome</text>

        <div>
                @if (true)
                {
                Exemplo de interação entre html e razor
                }
            </div>
    }*@

@using (Html.BeginForm())
{    
    @Html.Partial("Partials/EditorLivroPartial", Model);
}

@*@section menu{
        <div>
            Novo Registro
            <hr />
            <p>@minhaFunction("Lucian AF")</p>
            <hr />
        </div>
    }*@