@model BookStore.ViewModels.Livro.EditorLivroViewModel
@{
    ViewBag.Title = "Livro";
}

@*@helper minhaFunction(string Nome)
    {
        <text>Usuário: @Nome</text>

        <div>
                @if (true)
                {
                Exemplo de interação entre html e razor
                }
            </div>
    }*@

@*<hr />
    <p>@minhaFunction("Lucian AF")</p>
    <hr />*@

@using (Html.BeginForm())
{
    @Html.Partial("Partials/EditorLivroPartial", Model);
}