@model IEnumerable<BookStore.ViewModels.Livro.EditorLivroViewModel>

@{
    ViewBag.Title = "Livros";
    // Aqui foi passado um layout alternativo, ou seja, essa view não seguirá o layout padrão
    //Layout = "~/Views/Shared/_LayoutSecundario.cshtml";
}

<h2>Lista de Livros</h2>

<a href='@Url.Action("Create", "Livro")' title="Clique aqui para adicionar um novo registro" class="novo-registro">
    <img src='@Url.Content("~/Img/new.svg")' />
</a>

@Html.Partial("Partials/ListLivroPartial", Model)

@*@section menu{
        <div>
            Olá, você está na página principal
        </div>
    }*@