@{
    ViewBag.Title = "ASP.NET MVC";
}

<script type="text/javascript">

    $(".padrao").css('background-color', 'transparent');

</script>

<div id="home">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Curso de ASP.NET MVC feito pela plataforma do André Baltieri</p>
    <p><a href="https://balta.io/" target="_blank" class="btn btn-danger btn-lg">Balta.io</a></p>
</div>