@{
    ViewBag.Title = "ASP.NET MVC";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Curso de ASP.NET MVC feito pela plataforma do André Baltieri</p>
    <p><a href="https://balta.io/" target="_blank" class="btn btn-primary btn-lg">Balta.io</a></p>
</div>