@model BookStore.ViewModels.Autor.EditorAutorViewModel
@{
    ViewBag.Title = "Alterar Autor";
}

<h2>Alterar Autor</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id);
    @Html.Partial("Partials/EditorAutorPartial", Model);
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}