@model BookStore.ViewModels.Autor.EditorAutorViewModel

@{
    ViewBag.Title = "Autores";
}

<h2>Autor</h2>

@Html.Partial("Partials/EditorAutorPartial", Model)

<button type="submit" class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "Autor", new { id = Model.Id })'">Alterar</button>