body {
    display: flex;
    flex-direction: row;
    padding: 0 20px 10px 0;
}

.main {
    margin-right: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.status {
    width: 0;
    height: 0px;
    line-height: 0px;
    border-style: solid;
    border-width: 22px;
    border-color: transparent;
    position: fixed;
    z-index: 1;
    right: 20px;
}

.statusForm-novo {
    border-color: #337ab7 #337ab7 #fff #fff;
}

.statusForm-alterar {
    border-color: #f0ad4e #f0ad4e #fff #fff;
}

.statusForm-excluir {
    border-color: #d9534f #d9534f #fff #fff;
}

.statusForm-visualizar {
    border-color: #9151f7 #9151f7 #fff #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    width: 100%;
}

.form-group {
    padding: 15px 10px 0 0;
    width: 100%;
    margin: -15px 0 10px;
}

.form-group-line {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.col-md-6 {
    margin-top: 20px;
}

.action-title-crud {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 0px;
    border-bottom: 1px solid #cdcdcd;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-style: oblique;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0 0;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #a1a1a1;
    width: 98%;
}

input {
    text-transform: uppercase !important;
}

footer {
    position: fixed;
    height: 35px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: #222222;
    color: white;
}

.novo-registro {
    text-decoration: none !important;
}

    .novo-registro img {
        width: 4.9rem;
        height: 4.9rem;
        padding: 5px;
    }

a {
    text-decoration: none !important;
    color: white;
}

    a img {
        width: 1.6rem;
        height: 1.6rem;
    }

table tbody tr td:first-child {
    width: 100px;
}

    table tbody tr td:first-child a {
        padding: 3px;
    }

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

    /* Cor do indicador de rolagem - ao passar o mouse */
    ::-webkit-scrollbar-thumb:vertical:hover,
    ::-webkit-scrollbar-thumb:horizontal:hover {
        background-color: #d9534f
    }

div.darkTable {
    border: 1px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    border-collapse: collapse;
}

.divTable.darkTable .divTableCell, .divTable.darkTable .divTableHead {
    border-right: 1px solid #fff;
    padding: 0px 4px;
}

.divTable.darkTable .divTableBody .divTableCell {
    font-size: 13px;
    color: #E6E6E6;
    white-space: nowrap;
    padding: 3px 5px;
}

.divTable.darkTable .divTableRow:nth-child(even) {
    background: #888888;
}

.divTable.darkTable .divTableHeading {
    background: #000000;
    border-bottom: 1px solid #000000;
}

    .divTable.darkTable .divTableHeading .divTableHead {
        font-size: 13px;
        font-weight: bold;
        color: #E6E6E6;
        text-align: center;
        border-left: 2px solid #4A4A4A;
    }

        .divTable.darkTable .divTableHeading .divTableHead:first-child {
            border-left: none;
        }

.darkTable .tableFootStyle {
    font-size: 12px;
}
/* DivTable.com */
.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}
