body {
}

input {
    text-transform: uppercase !important;
}

h2 {
    text-align: center;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    footer div * {
        padding: 10px;
    }

.novo-registro {
    text-decoration: none !important;
}

    .novo-registro img {
        width: 4.9rem;
        height: 4.9rem;
        padding: 5px;
    }

a {
    text-decoration: none !important;
}

    a img {
        width: 1.9rem;
        height: 1.9rem;
    }

table tbody tr td:first-child {
    width: 100px;
}

    table tbody tr td:first-child a {
        padding: 3px;
    }
