@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (IsSectionDefined("menu"))
{
    <div class="col-md-4">
        <h3>Status</h3>
        @RenderSection("menu", false)
    </div>
}*@
<div class="container well col-md-12">
    @RenderBody()
</div>

@*@RenderSection("Scripts", false)*@